.form{
    max-width: 700px;
    width: 90%;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAN0lEQVQYlWNggAIf/ov/GdAANjG4BDImShFWxciCuNh4TUNRiKwbl2d8+C/+J14hruDA6WuqAQCD504NQqyB1QAAAABJRU5ErkJggg==) repeat;
}